@charset "UTF-8";
*::selection{ background: transparent; }
a,abbr,acronym,address,applet,article,aside,audio,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,td,video,tt,u,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top}
ol{list-style:none}
blockquote,q{quotes:none}
table,table td{padding:0;border:none;border-collapse:collapse}
img{vertical-align:top}
embed{vertical-align:top}
li{margin:0}
button,input,textarea{outline:none}
input[type="text"]:focus,select:focus{outline:none}
button:focus{outline:none}
button{border:none}
*{text-align:left;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased}
html,body,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,blockquote,a{margin:0;padding:0}
body{background:#fff;font-family:Ubuntu,sans-serif,tahoma;font-size:12px;color:#000;text-align:left;}
h1,h2,h3,h4,h5,h6{margin:0 0 5px;line-height:1.35;color:#2f2f2f}
h1{font-size:20px;font-weight:400}
h2{font-size:18px;font-weight:400}
h3{font-size:16px;font-weight:700}
h4{font-size:14px;font-weight:700}
h5{font-size:12px;font-weight:700}
h6{font-size:11px;font-weight:700}
A:visited{text-decoration:none}
A:link{text-decoration:none}
A:hover{text-decoration:underline}
A.active:visited{text-decoration:underline}
A.active:link{text-decoration:underline}
A.active:hover{text-decoration:none}
/*ul li{margin:0 0 0 25px}*/
.submit{position:absolute;color:#FFF;border:0;padding:0;margin:0;background:#FFF;left:-8000px;top:-8000px}
clearfix{content:".";display:block;height:0;clear:both;visibility:hidden;margin:0!important;}

/*/!*******************************CLEARFIX************************************************!/*/

.clear:before,.clear:after{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1}

/******CUSTOM CLASSES********/

.hidden{display:none}
.text-uppercase{text-transform:uppercase!important}
.text-not-uppercase{text-transform:none!important}
.text-center{text-align:center!important}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.left{float:left}
.right{float:right}
.pos-abs{position:absolute}
.pos-rel{position:relative}
