.header-nav{
  display: inline-block;
  width: 100%;
  font-size: 0;
  text-align: center;

}
.header-nav-item{
  display: inline-block;
  font-size: 48px;
  width: auto;
  padding: 0 20px;
  text-transform: uppercase;
}
.header-nav-link{
  display: inline-block;
  text-decoration: none;
  color: #ff5c00;
}