@import "./default-styles/normilize";
@import "Geocoder.css";
.wrapper{
  display: block;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.wrapper-fluid{
  display: block;
  width: 100%;
  text-align: center;
}

header{
  display: block;
  width: 100%;


}

.header-list{
  display: inline-block;
  width: 100%;
  height: inherit;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  background: #e3e3e3;

  .header-item{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;

    .header-link{
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      text-decoration: none;

    }
    &>:hover{
      color: #945604;
    }
  }
}

.auth-form{
  display: block;
  width: 50%;
  margin:  40px auto;
  box-shadow: black;

  .inp-row{
    display: inline-block;
    width: 100%;
    vertical-align: middle;


    .inp{
      display: inline-block;
      width: 100%;
      line-height: 38px;
      height: auto;
      margin: 10px auto;
      font-size: 16px;
      font-style: italic;
      padding: 0px 20px;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
    }

    .info-message{
      display: inline-block;
      width: 50%;
      margin: 10px auto;
      font-size: 20px;
    }

  }
}


#map{
  display: inline-block;
  width: 100%;
  height: 500px;
}
#main-page{
  display: inline-block;
  width: 100%;
  .btn{
    width: 33%;
    margin-right: 0;
  }
  .select{
    display: inline-block;
    width: 33%;
    line-height: 38px;
    margin-top: 20px;
    height: 39px;
    border: 2px solid red;
    border-right: 0;
    border-left: 0;
    font-size: 18px;
  }
}






.buttons{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.btn{
  display: inline-block;
  width: 45%;
  line-height: 35px;
  background: transparent;
  border: 2px solid #ff5c00;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  transition: all 0.3s ease;
  color:#000;
  text-decoration:  none;
}
.btn:first-child{
  margin-right: 5%;
}
.btn:hover{
  cursor: pointer;
  background: #ff5c00;
  color:#fff
}
